[Desktop Entry]
Version=1.0
Type=Application

Name=HealthCoach
Comment=Health and wellness tracking application
Categories=Utility;MedicalSoftware;
Keywords=health;wellness;fitness;tracker;blood-pressure;nutrition;calories;food;weight;

Icon=com.lbthomas.healthcoach
Exec=HealthCoach
Terminal=false